<div class="topicWrap">
  <section class="topic new">
    <h6>
      Az Önkormányzatok gazdálkodása
    </h6>
    <p class="clockIcon">
      Legutóbb frissítve: 2018.01.21.
    </p>
    <ul>
      <li>
        A költségvetési rendelet, és az ezzel kapcsolatos kötelező tartalmi elemek, fogalmak.
      </li>
      <li>
        A költségvetés végrehajtása, felelősségi körök, új és régi szabályozások a Mötv.-vel összhangban.
      </li>
      <li>
        Gazdálkodási jogkörök, kötelezettségvállalás, pénzügyi ellenjegyzés és teljesítésigazolás
      </li>
    </ul>
  </section>
</div>

<div class="topicWrap">
  <section class="topic">
    <h6>
      Humánerőforrás-gazdálkodás
    </h6>
    <p class="clockIcon">
      Legutóbb frissítve: 2018.01.21.
    </p>
    <ul>
      <li>
        A vezetés humán erőforrás-gazdálkodással kapcsolatos feladatai (munkaerőigény meghatározása, toborzás, kiválasztás, teljesítményértékelés, stb.)
      </li>
      <li>
        A belső ellenőrzésnek a humán erőforrás kezelés szabályozásával kapcsolatos feladatai (kockázatok feltárása, toborzás és kiválasztás vizsgálata, teljesítményértékelés ellenőrzése, anyagi és erkölcsi ösztönzés vizsgálata, stb.)
      </li>
      <li>
        Gazdálkodási jogkörök, kötelezettségvállalás, pénzügyi ellenjegyzés és teljesítésigazolás
      </li>
    </ul>
  </section>
</div>

<div class="topicWrap">
  <section class="topic last">
    <h6>
      Humánerőforrás-gazdálkodás
    </h6>
    <p class="clockIcon">
      Legutóbb frissítve: 2018.01.21.
    </p>
    <ul>
      <li>
        Információs társadalom, a e-közigazgatás meghatározása
      </li>
      <li>
        Adatbázisok a közigazgatásban
      </li>
      <li>
        Szoftverek alkalmazása a közigazgatásban
      </li>
      <li>
        Digitalizáció
      </li>
      <li>
        A döntéstámogatás rendszerei
      </li>
      <li>
        Többcsatornás ügyintézés
      </li>
      <li>
        Ügymenetvizsgálat
      </li>
    </ul>
  </section>
</div>
