<div class="topicWrap">
  <section class="topic" [class.new]="itsnew">
    <h6>
      {{ folyamat.nev }}
    </h6>
    <p class="clockIcon">
      Legutóbb frissítve: {{ folyamat.frissitesDatum | date : 'YYYY.MM.dd.' }}
    </p>
    <div [innerHTML]="folyamat.szoveg "></div>
    <!-- <ul>
      <li>
        A költségvetési rendelet, és az ezzel kapcsolatos kötelező tartalmi elemek, fogalmak.
      </li>
      <li>
        A költségvetés végrehajtása, felelősségi körök, új és régi szabályozások a Mötv.-vel összhangban.
      </li>
      <li>
        Gazdálkodási jogkörök, kötelezettségvállalás, pénzügyi ellenjegyzés és teljesítésigazolás
      </li>
    </ul> -->
    <div class="openTopic" *ngIf="userService.userLoggedIn && folyamat.seoURL">
      <a class="arrorange" [routerLink]="'/topic/' + folyamat.seoURL">
        Téma megnyitása
      </a>
    </div>
  </section>
</div>
