<nav>
  <div class="container">
    <div class="side leftSide">
      <a routerLink="/">
        <img src="/assets/img/logoLight.svg" alt="">
      </a>
    </div>
    <div class="side rightSide">
      <ul class="defaultMenu" [class.opened]="menuIsOpened">
        <li class="on">
          <a href="">
            Tudástár
          </a>
          <hr/>
        </li>
        <li>
          <a href="">
            Videotár
          </a>
          <hr/>
        </li>
        <li>
          <a href="">
            Online képzéseink
          </a>
          <hr/>
        </li>
        <li class="loginIcon">
          <a href="">
            <img src="/assets/img/iconUser.svg" alt="">
          </a>
        </li>
        <li class="loginText">
          <a href="">
            Bejelentkezés
          </a>
          <hr/>
        </li>
      </ul>
      <ul class="mobileMenu">
        <li (click)="clickSandvichMenu()">
          <svg viewBox="0 0 100 80" width="40" height="40">
            <rect width="100" height="12" rx="8"></rect>
            <rect y="30" width="100" height="12" rx="8"></rect>
            <rect y="60" width="100" height="12" rx="8"></rect>
          </svg>
        </li>
      </ul>
    </div>
  </div>
</nav>
