<nav>
  <div class="container">
    <div class="side leftSide">
      <a routerLink="/">
        <img src="/assets/img/logoLight.svg" alt="">
      </a>
    </div>
    <div class="side rightSide">
      <ul class="defaultMenu" [class.opened]="menuIsOpened">
        <li class="on">
          <a>
            Tudástár
          </a>
          <hr/>
        </li>
        <li>
          <a>
            Videotár
          </a>
          <hr/>
        </li>
        <li>
          <a>
            Online képzéseink
          </a>
          <hr/>
        </li>
        <li class="loginIcon">
          <a>
            <img src="/assets/img/iconUser.svg" alt="">
          </a>
        </li>
        <li class="loginText">
          <a (click)="clickLogin()">
            Bejelentkezés
          </a>
          <hr/>
          <ul class="login" [class.opened]="loginIsOpened">
            <li>
              <input name="email" type="text" placeholder="e-mail" />
            </li>
            <li>
              <input name="password" type="password" placeholder="jelszó" />
            </li>
          </ul>
        </li>
      </ul>
      <ul class="mobileMenu">
        <li (click)="clickSandvichMenu()">
          <svg viewBox="0 0 100 80" width="40" height="40">
            <rect width="100" height="12" rx="8"></rect>
            <rect y="30" width="100" height="12" rx="8"></rect>
            <rect y="60" width="100" height="12" rx="8"></rect>
          </svg>
        </li>
      </ul>
    </div>
  </div>
</nav>
