<div class="videosWrap">
  <div class="videos">
    <div class="container">
      <h1>
        Videótár
      </h1>
      <ngb-carousel #ngcarousel>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <iframe width="775" height="436" src="https://www.youtube.com/embed/fidzLZQyaJE" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <h4>
              Dark Matter Particles: Gateway to The Dark Universe
            </h4>
          </div>
          <div class="carousel-caption">
            <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p> -->
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <iframe width="775" height="436" src="https://www.youtube.com/embed/A0G7XKFVO8A" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          <h4>
            ZŐD HÁTÉR SE KÖLL | Zögzös Program | Streamer Tutorialos VIDINYÓ | TUF Gaming GeForce RTX™ 3080 |
          </h4>
          <div class="carousel-caption">
            <!-- <p>Consectetur tortor volutpat pretium.</p> -->
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            <iframe width="775" height="436" src="https://www.youtube.com/embed/a7WwrMgGTzo" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          <h4>
            Can a Solid Glass Ball Stop a 50cal?
          </h4>
          <div class="carousel-caption">
            <!-- <p>Consectetur tortor volutpat pretium.</p> -->
          </div>
        </ng-template>
      </ngb-carousel>
    </div>
  </div>
</div>
