@import "../../../varsAndMixins.scss";

.videosWrap::ng-deep{
  .videos{
    padding-top: 78px;
    padding-bottom: 304px;
    position: relative;
    z-index: 0;
    background-color: $dark;
    min-height: 750px;
    color: white;
    text-align: center;
    &::before{
      content: "";
      position: absolute;
      z-index: 1;
      background-image: url("/assets/img/triangleNotBlueTopLeft.svg");
      background-size: 100% 100%;
      top: 0;
      left: 0;
      width: 50%;
      height: 96px;
    }
    &::after{
      content: "";
      position: absolute;
      z-index: 1;
      background-image: url("/assets/img/triangleBlueTopRight.svg");
      background-size: 100%;
      right: 0;
      top: 0;
      width: 50%;
      height: 104px;
      transform: translate(0, -100%);
      background-position: bottom;
      background-repeat: no-repeat;
    }
    h1{
      text-transform: uppercase;
      margin-bottom: 55px;
    }
    .carousel:focus{
      outline: none;
    }
    .carousel-control-prev-icon, .carousel-control-next-icon{
      width: 60px;
      height: 60px;
    }
    .carousel-control-prev-icon{
      background-image: url("/assets/img/carouselArrowLeft.svg");
    }
    .carousel-control-next-icon{
      background-image: url("/assets/img/carouselArrowRight.svg");
    }
    .carousel-inner{
      overflow: visible;
    }
    .carousel-caption{
      bottom: -100px;
      //transform: translate(0, 50%);
    }
    .carousel-indicators{
      bottom: -140px;
      li{
        width: 10px;
        height: 10px;
        border: 1px solid white;
        background-color: transparent;
        border-radius: 10px;
        &.active{
          background-color: white;
        }
      }
    }
  }
}
