<div class="chapterWrap">
  <div class="firstRow" (click)="open()">
    <div class="leftSide">
      <div class="number" [class.opened]="opened">
        <div>
          23
        </div>
      </div>
      <div class="title" [class.opened]="opened">
        <h5>
          A településképi arculati kézikönyv és a településképi rendelet elkészítése
        </h5>
      </div>
    </div>
    <div class="rightSide" [class.opened]="opened"></div>
  </div>
  <div class="content" [class.opened]="opened">
    <section class="about">
      <h6>
        Erről lesz szó ebben a fejezetben
      </h6>
    </section>
  </div>
</div>
