<div class="chapterWrap">
  <div class="firstRow" (click)="open()">
    <div class="leftSide">
      <div class="number" [class.opened]="opened">
        <div>
          23
        </div>
      </div>
      <div class="title" [class.opened]="opened">
        <h5>
          A településképi arculati kézikönyv és a településképi rendelet elkészítése
        </h5>
      </div>
    </div>
    <div class="rightSide" [class.opened]="opened"></div>
  </div>
  <div class="content" [class.opened]="opened">
    <section class="about">
      <div>
        <h6>
          Erről lesz szó ebben a fejezetben
        </h6>
        <span class="clockIcon">
          Olvasási idő idő:  54 perc
        </span>
      </div>
      <ul>
        <li>
          A helyi építési szabályozás rendszere
        </li>
        <li>
          Miért is nem érdekli a közszférát a kockázatfelmérés és -kezelés?
        </li>
        <li>
          Nyerési /elutasító értesítő
        </li>
        <li>
          Mikor kezdhető el az igazi munka?
        </li>
        <li>
          Miért is nem érdekli a közszférát a kockázatfelmérés és -kezelés?
        </li>
      </ul>
    </section>
    <div class="text">
      <h6>
        A helyi építési szabályozás rendszere
      </h6>
      <p>
        Az épített környezet esztétikai minőségét és funkcionalitását a településeken élők és az ott beruházók által létrehozott építmények határozzák meg. Ebből kifolyólag talán az építési jog által szabályozott életviszonyokra jellemzőbb leginkább az, hogy a magánosok döntései nagymértékben befolyással lehetnek szomszédjaik mellett egy település teljes közösségének mindennapjaira, ráadásul nem is könnyen megváltoztatható módon. Így a területet szabályozójogszabályok legfontosabb funkciója – az építmények biztonságát biztosító műszakitechnológiai előírások meghatározása mellett – a közérdek és a magánérdek kényesegyensúlynak a megteremtése az építkezések során.
      </p>
      <p>
        Az épített környezet esztétikai minőségét és funkcionalitását a településeken élők és az ott beruházók által létrehozott építmények határozzák meg. Ebből kifolyólag talán az építési jog által szabályozott életviszonyokra jellemzőbb leginkább az, hogy a magánosok döntései nagymértékben befolyással lehetnek szomszédjaik mellett egy település teljes közösségének mindennapjaira, ráadásul nem is könnyen megváltoztatható módon. Így a területet szabályozójogszabályok legfontosabb funkciója – az építmények biztonságát biztosító műszakitechnológiai előírások meghatározása mellett – a közérdek és a magánérdek kényesegyensúlynak a megteremtése az építkezések során.
      </p>
      <p>
        Az épített környezet esztétikai minőségét és funkcionalitását a településeken élők és az ott beruházók által létrehozott építmények határozzák meg. Ebből kifolyólag talán az építési jog által szabályozott életviszonyokra jellemzőbb leginkább az, hogy a magánosok döntései nagymértékben befolyással lehetnek szomszédjaik mellett egy település teljes közösségének mindennapjaira, ráadásul nem is könnyen megváltoztatható módon. Így a területet szabályozójogszabályok legfontosabb funkciója – az építmények biztonságát biztosító műszakitechnológiai előírások meghatározása mellett – a közérdek és a magánérdek kényesegyensúlynak a megteremtése az építkezések során.
      </p>

      <h6>
        A helyi építési szabályozás rendszere
      </h6>
      <p>
        Az épített környezet esztétikai minőségét és funkcionalitását a településeken élők és az ott beruházók által létrehozott építmények határozzák meg. Ebből kifolyólag talán az építési jog által szabályozott életviszonyokra jellemzőbb leginkább az, hogy a magánosok döntései nagymértékben befolyással lehetnek szomszédjaik mellett egy település teljes közösségének mindennapjaira, ráadásul nem is könnyen megváltoztatható módon. Így a területet szabályozójogszabályok legfontosabb funkciója – az építmények biztonságát biztosító műszakitechnológiai előírások meghatározása mellett – a közérdek és a magánérdek kényesegyensúlynak a megteremtése az építkezések során.
      </p>
    </div>
    <div class="question">
      <h6>
        Kérdése van a fejezettel kapcsolatban?  Küldje el szakértőnknek!
      </h6>
    </div>
  </div>
</div>
