@import "../../../varsAndMixins.scss";

.coursesWrap::ng-deep{
  .courses{
    z-index: 0;
    h1{
      text-transform: uppercase;
      margin-bottom: 35px;
      text-align: center;
    }
    .courseBox{
      display: flex;
      margin: auto;
      max-width: 800px;
      .side{
        min-height: 328px;
        position: relative;
        &.leftSide{
          transition: .2s linear;
          width: 53%;
          background-color: $blue;
          color: white;
          padding: 38px 44px 38px 44px;
          .infos{
            margin-top: 30px;
            display: grid;
            grid-template-columns: 30% 70%;
            p{
              margin-bottom: 20px;
              margin-right: 20px;
            }
          }
          &::after{
            content: "";
            position: absolute;
            z-index: 5;
            width: 0;
            height: 0;
            right: -100px;
            bottom: 0;
            border-bottom: 328px solid $blue;
            border-right: 100px solid transparent;
          }
        }
        &.rightSide{
          width: 47%;
          background-color: white;
          &::after{
            content: "";
            position: absolute;
            background-image: url("/assets/img/houseFeeling.svg");
            background-size: 100% auto;
            background-repeat: no-repeat;
            background-position: bottom left;
            z-index: 10;
            right: 14px;
            top: 40px;
            left: -40px;
            bottom: 0;
          }
        }
      }
    }

    .carousel:focus{
      outline: none;
    }
    .carousel-control-prev-icon, .carousel-control-next-icon{
      width: 60px;
      height: 60px;
    }
    .carousel-control-prev-icon{
      background-image: url("/assets/img/carouselArrowLeft.svg");
      margin-top: -90px;
    }
    .carousel-control-next-icon{
      background-image: url("/assets/img/carouselArrowRight.svg");
      margin-top: -90px;
    }
    .carousel-inner{
      // overflow: visible;
    }
    .carousel-caption{
      // bottom: -110px;
    }
    .carousel-indicators{
      display: none;
    }
    .buttonWrap{
      text-align: center;
      margin-top: 50px;
    }
  }
}

@media(max-width: 1199px){
  .coursesWrap{
    .courses{
      .container{
        max-width: 100%;
      }
    }
  }
}

@media(max-width: 991px){
  .coursesWrap{
    .courseBox{
      display: block;
      max-width: 600px;
      .side{
        width: 100%;
        &.leftSide{
          &::after{
            content: none;
          }
          > *{
            position: relative;
          }
          &::before{
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-image: url("/assets/img/houseFeeling.svg");
            background-repeat: no-repeat;
            background-position: bottom right;
            opacity: .2;
          }
        }
        &.rightSide{
          display: none;
        }
      }
    }
  }
}

@media(max-width: 767px){
  .coursesWrap::ng-deep{
    .courses{
      .carousel-control-prev-icon{
        background-color: $dark;
        border-radius: 50px;
      }
      .carousel-control-next-icon{
        background-color: $dark;
        border-radius: 50px;
      }
    }
  }
}

@media(max-width: 575px){
  .coursesWrap::ng-deep{
    .courses{
      .container{
        padding: 0;
        .courseBox{
          .side.leftSide{
            padding-left: 25px;
            padding-right: 25px;
          }
        }
      }
    }
  }
}
