<div class="coursesWrap">
  <div class="courses">
    <div class="container">
      <h1>
        Online képzéseink
      </h1>
      <ngb-carousel #ngcarousel>
        <ng-template ngbSlide>
          <div class="picsum-img-wrapper">
            CSecs
          </div>
          <div class="carousel-caption">
            <div class="buttonWrap">
              <button class="hollow">
                Megnézem a részleteket
              </button>
            </div>
          </div>
        </ng-template>

      </ngb-carousel>
    </div>
  </div>
</div>
