@import "../../../varsAndMixins.scss";

.coursesWrap::ng-deep{
  .courses{
    z-index: 0;
    h1{
      text-transform: uppercase;
      margin-bottom: 35px;
      text-align: center;
    }
    .courseBox{
      display: flex;
      margin: auto;
      max-width: 800px;
      height: 328px;
      .side{
        position: relative;
        &.leftSide{
          width: 53%;
          background-color: $blue;
          color: white;
          padding: 38px 15px 38px 44px;
          .infos{
            margin-top: 30px;
            display: grid;
            grid-template-columns: 30% 70%;
            p{
              margin-bottom: 20px;
              margin-right: 20px;
            }
          }
          &::after{
            content: "";
            position: absolute;
            z-index: 5;
            width: 0;
            height: 0;
            right: -100px;
            bottom: 0;
            border-bottom: 328px solid $blue;
            border-right: 100px solid transparent;
          }
        }
        &.rightSide{
          width: 47%;
          background-color: white;
          &::after{
            content: "";
            position: absolute;
            background-image: url("/assets/img/houseFeeling.svg");
            background-size: 100% auto;
            background-repeat: no-repeat;
            background-position: bottom left;
            z-index: 10;
            right: 14px;
            top: 40px;
            left: -40px;
            bottom: 0;
          }
        }
      }
    }

    .carousel:focus{
      outline: none;
    }
    .carousel-control-prev-icon, .carousel-control-next-icon{
      width: 60px;
      height: 60px;
    }
    .carousel-control-prev-icon{
      background-image: url("/assets/img/carouselArrowLeft.svg");
    }
    .carousel-control-next-icon{
      background-image: url("/assets/img/carouselArrowRight.svg");
    }
    .carousel-inner{
      overflow: visible;
    }
    .carousel-caption{
      bottom: -110px;
    }
    .carousel-indicators{
      display: none;
    }
    .buttonWrap{

    }
  }
}
