<div class="coursesWrap">
  <div class="courses">
    <div class="container">
      <h1>
        Online képzéseink
      </h1>
      <ngb-carousel #ngcarousel>
        <ng-template ngbSlide *ngFor="let event of events">
          <div class="picsum-img-wrapper">
            <div class="courseBox">
              <div class="side leftSide">
                <h5>
                  {{ event.nev }}
                </h5>
                <div class="infos">
                  <p>
                    Képzési idő:
                  </p>
                  <p>
                    {{ event.elearningKepzesiIdo }}
                    ({{ event.elearningUtemezes }})
                  </p>
                  <p>
                    Oktatónk:
                  </p>
                  <p *ngIf="event.szakis.length > 0">
                    <span class="bold_700">
                      {{ event.szakis[0].nev }}
                    </span>
                    <br/>
                    {{ event.szakis[0].szakterulet }}
                  </p>
                </div>
              </div>
              <div class="side rightSide"></div>
            </div>
          </div>
          <div class="buttonWrap">
            <button class="hollow" routerLink="/courses" *ngIf="!userService.loginHappened.value ; else loggedButton">
              Megnézem a részleteket
            </button>
            <ng-template #loggedButton>
              <button class="orange" routerLink="/courses">
                Részletek és jelentkezés
              </button>
            </ng-template>
          </div>
        </ng-template>
      </ngb-carousel>
    </div>
  </div>
</div>
