<header>
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <div class="leftSide">
          <section>
            <h1>
              Online tudástár a jegyzői munka gyakorlati kihívásaihoz igazodva
            </h1>
            <ul>
              <li>
                Jogalkalmazási ismeretek, útmutatók ügymeneti modellek alapján
              </li>
              <li>
                Közel 300 jegyző véleménye alapján válogatott témák
              </li>
              <li>
                Gyakorlati tudásanyag, melynek elsajátítását tanúsítvánnyal ismerjük el
              </li>
              <li>
                Oktatóvideók, webináriumok, e-learning rendszerű képzések
              </li>
            </ul>
            <div class="buttWrap">
              <button class="defaultBlue">
                Többet szeretnék tudni
              </button>
              <button class="defaultBlue">
                Megnézem a kiemelt témákat
              </button>
            </div>
          </section>
        </div>
      </div>
      <div class="col-md-5">
        <div class="rightSide">
          <section>
            <h2>
              JEGYZŐBLOG
            </h2>
            <div class="whiteBack">
              <h3>
                Közfoglalkoztatási programok pénzügyi-számviteli dokumentálása
              </h3>
              <span class="clockIcon">
                2020-01-08
              </span>
              <p>
                A Magyar Közlöny 222. számában jelent meg a kötelező legkisebb munkabér (minimálbér) és a garantált bérminimum
                megállapításáról szóló 367/2019 (XII.30.) Korm.rendelet. (http://www.kozlonyok.hu/nkonline/ MKPDF/hiteles/mk19222.pdf)
                <br/>A Korm.rendeletben foglaltak szerint 2020. január 1-től:
              </p>
              <hr/>
            </div>
            <div class="buttonWrap">
              <button class="transparent">
                Még több cikk
              </button>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="topics">
  <div class="container">
    <h1>
      KIEMELT TÉMÁINK
    </h1>
    <app-topics></app-topics>
  </div>
</div>
