<header>
  <div class="container">
    <div class="row">
      <div class="col-lg-7">
        <div class="leftSide">
          <section>
            <div *ngIf="!userService.loginHappened.value; else loggedForHeaderLeftSide">
              <h1>
                Online tudástár a jegyzői munka gyakorlati kihívásaihoz igazodva
              </h1>
              <ul>
                <li>
                  Jogalkalmazási ismeretek, útmutatók ügymeneti modellek alapján
                </li>
                <li>
                  Közel 300 jegyző véleménye alapján válogatott témák
                </li>
                <li>
                  Gyakorlati tudásanyag, melynek elsajátítását tanúsítvánnyal ismerjük el
                </li>
                <li>
                  Oktatóvideók, webináriumok, e-learning rendszerű képzések
                </li>
              </ul>
            </div>
            <ng-template #loggedForHeaderLeftSide>
              <div class="labelsWrap green">
                <span>
                  legfrissebb a tudástárban!
                </span>
              </div>
              <h1>
                {{ legfrissebbLegfrissebbCikk.cim }}
              </h1>
              <p>
                {{ legfrissebbLegfrissebbCikk.bevezeto }}
              </p>
            </ng-template>
            <div class="buttonWrap">
              <button class="defaultBlue" pageScroll href="#scrollHowItWorks" *ngIf="!userService.loginHappened.value">
                Többet szeretnék tudni
              </button>
              <button class="defaultBlue" [routerLink]="['/', 'cikk', legfrissebbLegfrissebbCikk.seoUrl]" *ngIf="userService.loginHappened.value;">
                Megnézem a részleteket
              </button>
              <button class="defaultBlue" pageScroll href="#scrollTudastar">
                Megnézem a kiemelt témákat
              </button>
            </div>
          </section>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="rightSide">
          <section *ngIf="article">
            <h2>
              JEGYZŐBLOG
            </h2>
            <a routerLink="/cikk/{{ article.seoUrl }}">
              <div class="whiteBack">
                <h3>
                  {{ article.cim }}
                </h3>
                <span class="clockIcon">
                  {{ article.megjelenesDatum | date : 'YYYY-MM-dd' }}
                </span>
                <p>
                  {{ article.bevezeto }}
                </p>
                <hr/>
              </div>
            </a>
            <div class="buttonWrap">
                <a routerLink="/cikkek">
                  <button class="transparent">
                    Még több cikk
                  </button>
                </a>
              </div>
            </section>
        </div>
      </div>
    </div>
  </div>
</header>

<div class="topics" id="scrollTudastar">
  <div class="container">
    <h1>
      KIEMELT TÉMÁINK
    </h1>
    <app-topics [folyamats]="folyamats"></app-topics>
    <div class="buttonWrap">
      <button class="hollow" routerLink="/tudastar">
        Tovább a tudástár teljes tartalmához
      </button>
    </div>
  </div>
</div>

<div class="videos" id="scrollVideos">
  <app-videos></app-videos>
</div>

<div class="onlineCourses" id="scrollCourses">
  <app-online-courses></app-online-courses>
</div>

<div class="howItWorks" id="scrollHowItWorks">
  <div class="container">
    <app-how-it-works></app-how-it-works>
  </div>
</div>
