<div class="container">
  <app-back>
    <div class="searcher">
      <div class="leftSide">
        <input class="inText" type="text" placeholder="Keressen a szövegben" (keydown.enter)="search()" [(ngModel)]="searchTerm" />
        <input class="inPar" type="text" placeholder="Írja be a keresett paragrafus számát" (keydown.enter)="searchSzam()" [(ngModel)]="searchTermSzam" />
      </div>
      <div class="rightSide">
        <button class="defaultBlue">
          <span class="download">
            <a [href]="'https://lex-praxis.hu/jogszToPdf.php?id=' + uid" target="_blank">
              Letöltöm PDF-ben
            </a>
          </span>
        </button>
      </div>
    </div>
  </app-back>
</div>
<div class="statuteWrap">
  <div class="container">
    <div class="statute" [innerHTML]="jsz">

    </div>
  </div>
</div>
