@import "../../../varsAndMixins.scss";

.searcher{
  display: flex;
  width: 100%;
  justify-content: space-between;
  @media(max-width: 767px){
    display: block;
  }
  .leftSide{
    display: flex;
    align-items: center;
    width: 65%;
    @media(max-width: 991px){
      display: block;
      width: 100%;
    }
    input{
      border: 0;
      background-color: white;
      padding: 8px 34px;
      margin: 10px 0;
      font-size: 13px;
      width: 100%;

      @media(max-width: 767px){
      }
      &::placeholder{
        color: rgba(163, 178, 183, 1);
      }
    }
    .inText{
      background-image: url("/assets/img/magnifier.svg");
      background-position: 10px center;
      background-repeat: no-repeat;
      margin-right: 20px;
    }
    .inPar{
      background-image: url("/assets/img/pharagraph.svg");
      background-position: 10px center;
      background-repeat: no-repeat;
    }
  }
  .rightSide{
    display: flex;
    align-items: center;
    margin: 10px;
    @media(max-width: 767px){
      display: block;
      text-align: center;
    }
  }
}

.statuteWrap{
  background-color: white;
  .statute{
    padding: 82px 0;
    h5{}
    p{
      margin-top: 20px;
    }
  }
}

.jszakaszSzoveg .searchFound{
  background-color: #b7ebff;
}
