.dialogBox{
  width: 600px;
  position: relative;
  background-color: white;
  padding-top: 76px;
  padding-bottom: 56px;
  text-align: center;

  .closerX{
    width: 20px;
    height: 20px;
    position: absolute;
    top: 4px;
    right: 4px;
    background-image: url("/assets/img/close.svg");
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
  }

  h4{
    font-weight: 700;
  }

  .buttWrap{
    margin-top: 50px;
    button.hollow{
      border: 0;
    }
  }
}
