<div class="container">
  <app-back></app-back>
  <div class="shadowedBoxWhite">
    <div class="row">
      <div class="col-lg-6">
        <div class="leftSide">
          <h4 class="bold_700">
            Vegyen részt online tanfolyamainkon!
          </h4>
          <div class="blueSquareDivWrap">
            <div class="blueSquare">1</div>
            <span>
              Nézze meg ajánlott, aktuális e-learning képzésünket!
            </span>
          </div>
          <div class="blueSquareDivWrap">
            <div class="blueSquare">2</div>
            <span>
              Jelentkezzen, vagy regisztrálja bármely munkatársát néhány kattintással. Valamennyi képzést rugalmas időbeosztással végezhetik el a Moodle e-learning rendszerben, amelyhez munkatársai is kapnak hozzáférést.
            </span>
          </div>
          <div class="blueSquareDivWrap">
            <div class="blueSquare">3</div>
            <span>
              A jelentkezést követően, a felnőttképzési szabályoknak megfelelő adatlap kitöltésével a képzés szinte azonnal indulhat.
            </span>
          </div>

        </div>
      </div>
      <div class="col-lg-6 rightSide">
        <img src="/assets/img/housefeeling2.svg" alt="" />
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8">
        <h5 class="orange">
          FONTOS!
        </h5>
        <p>
          A képzés sikeres befejezése, vagyis a kurzus zárótesztjének legalább 60%-os teljesítése után tanúsítványt állítunk ki a résztvevő nevére. Ezt a Jegyzőinfo előfizetéséhez tartozó címre, postai úton is továbbítjuk.
        </p>
      </div>
    </div>
  </div>
  <div class="coursesWrap">
    <h4>
      Képzéseink
    </h4>
    <ng-container *ngIf="events.length > 0">
      <app-course *ngFor="let item of events" [event]="item"></app-course>
    </ng-container>
  </div>
</div>

