@import "../../../varsAndMixins.scss";

.shadowedBoxWhite{
  padding-left: 60px;
  padding-bottom: 60px;
  @media(max-width: 991px){
    padding-left: 30px;
    padding-right: 30px;
  }
  @media(max-width: 575px){
    padding-left: 10px;
    padding-right: 10px;
  }
  .leftSide{
    padding-top: 50px;
    h4{
      margin-bottom: 40px;
    }
    .blueSquareDivWrap{
      display: flex;
      align-items: center;
      margin-bottom: 30px;
      .blueSquare{
        width: 55px;
        min-width: 55px;
        height: 62px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $blue;
        color: white;
        margin-right: 20px;
      }
    }
  }
  .rightSide{
    display: flex;
    align-items: center;
    padding-right: 20px;
    justify-content: center;
    img{
      max-width: 100%;
    }
  }
  h5.orange{
    margin-top: 20px;
  }
  p{
    margin-top: 15px;
  }
}

.coursesWrap{
  margin-bottom: 100px;
  h4{
    margin-top: 68px;
    margin-bottom: 27px;
    font-weight: 700;
  }
}
