<div class="articlesWrap">
  <div class="container">
    <app-back></app-back>
    <div class="row">
      <div class="col-md-3">
        <div class="interests">
          <p>
            Ezek érdekelnek
          </p>
          <ul>
            <li>
              <input id="chk_1" type="checkbox" class="myCheckbox" />
              <label class="colored-background" for="chk_1">
                Ingatlan
              </label>
            </li>
            <li>
              <input id="chk_2" type="checkbox" class="myCheckbox" />
              <label class="colored-background" for="chk_2">
                Adó
              </label>
            </li>
            <li>
              <input id="chk_3" type="checkbox" class="myCheckbox" />
              <label class="colored-background" for="chk_3">
                Környezetvédelem
              </label>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-9">
        <div class="articlesList" *ngIf="articles">
          <ng-container *ngFor="let article of articles">
            <a *ngIf="article.bevezetoKepUrl==''; else withPic" routerLink="/cikk/{{ article.seoUrl }}">
              <article>
                <h5>
                  {{ article.cim }}
                </h5>
                <!-- <div class="labelsWrap">
                  <span>
                    számviteli szabályzatok
                  </span>
                  <span>
                    TB JÁRULÉK
                  </span>
                </div> -->
                <p>
                  {{ article.bevezeto }}
                </p>
                <div class="date">
                  <div class="clockIcon">
                    {{ article.megjelenesDatum | date : 'YYYY-MM-dd' }}
                  </div>
                </div>
              </article>
            </a>
            <ng-template #withPic>
              <a routerLink="/cikk/{{ article.seoUrl }}">
                <article class="withPic">
                  <div class="leftSide" style="background-image: url('{{ article.bevezetoKepUrl }}');">
                    <h5>
                      {{ article.cim }}
                    </h5>
                  </div>
                  <div class="rightSide">
                    <!-- <div class="labelsWrap">
                      <span>
                        számviteli szabályzatok
                      </span>
                      <span>
                        TB JÁRULÉK
                      </span>
                    </div> -->
                    <p>
                      {{ article.bevezeto }}
                    </p>
                    <div class="date">
                      <div class="clockIcon">
                        {{ article.megjelenesDatum | date : 'YYYY-MM-dd' }}
                      </div>
                    </div>
                  </div>
                </article>
              </a>
            </ng-template>
          </ng-container>
          <div class="buttonWrap">
            <button *ngIf="counter < articleList.length" class="hollow" (click)="clickMoreArticles()">
              További cikkek betöltése
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
