<div class="articlesWrap">
  <div class="container">
    <app-back></app-back>
    <div class="row">
      <div class="col-md-3">
        <div class="interests">
          <p>
            Ezek érdekelnek
          </p>
          <ul>
            <li>
              <input id="chk_1" type="checkbox" class="myCheckbox" />
              <label class="colored-background" for="chk_1">
                Ingatlan
              </label>
            </li>
            <li>
              <input id="chk_2" type="checkbox" class="myCheckbox" />
              <label class="colored-background" for="chk_2">
                Adó
              </label>
            </li>
            <li>
              <input id="chk_3" type="checkbox" class="myCheckbox" />
              <label class="colored-background" for="chk_3">
                Környezetvédelem
              </label>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-9">
        <div class="articlesList">
          <article>
            <h5>
              GDPR - a nonprofitoknál még mindig aktuális
            </h5>
            <div class="labelsWrap">
              <span>
                számviteli szabályzatok
              </span>
              <span>
                TB JÁRULÉK
              </span>
            </div>
            <p>
              A vállalkozásokat és az állami szervezeteket egyaránt széles körben érintő új adatkezelési szabályrendszer, a GDPR a társaságok sajátos csoportját képező nonprofit szervezetek körére is új előírásokat tartalmaz. A szabályok pontos alkalmazását szolgálta a Nemzeti Adatvédelmi és Információszabadság Hatóság e témakörben közzétett állásfoglalása, amit az alábbiakban vázlatosan összegzünk.
            </p>
            <div class="date">
              <div class="clockIcon">
                2018.01.21.
              </div>
            </div>
          </article>
          <article class="withPic">
            <div class="leftSide">
              <h5>
                Változtak-e az EKÁER-bejelentéssel kapcsolatos szabályok a BREXIT miatt?
              </h5>
            </div>
            <div class="rightSide">
              <div class="labelsWrap">
                <span>
                  számviteli szabályzatok
                </span>
                <span>
                  TB JÁRULÉK
                </span>
              </div>
              <p>
                A vállalkozásokat és az állami szervezeteket egyaránt széles körben érintő új adatkezelési szabályrendszer, a GDPR a társaságok sajátos csoportját képező nonprofit szervezetek körére is új előírásokat tartalmaz. A szabályok pontos alkalmazását szolgálta a Nemzeti Adatvédelmi és Információszabadság Hatóság e témakörben közzétett állásfoglalása, amit az alábbiakban vázlatosan összegzünk.
              </p>
              <div class="date">
                <div class="clockIcon">
                  2018.01.21.
                </div>
              </div>
            </div>
          </article>
          <div class="buttonWrap">
            <button class="hollow">
              További cikkek betöltése
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
