<div class="articlesWrap">
  <div class="container">
    <app-back></app-back>
    <div class="row">
      <div class="col-md-3">
        <div class="interests">
          <p>
            Ezek érdekelnek
          </p>
          <ul>
            <li *ngFor="let cat of categories">
              <input [id]="'chk_' + cat.kategoriaV2ID" type="checkbox" class="myCheckbox" />
              <label class="colored-background" [for]="'chk_' + cat.kategoriaV2ID">
                {{ cat.nev }}
              </label>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-9">
        <div class="articlesList" *ngIf="articles">
          <ng-container *ngFor="let article of articles">
              <article *ngIf="article.bevezetoKepUrl==''; else withPic">
                <a routerLink="/cikk/{{ article.seoUrl }}">
                  <h5>
                    {{ article.cim }}
                  </h5>
                </a>
                <div class="labelsWrap">
                  <span *ngFor="let cat of article.kategoriaV2andSEOSiteKategoriaV2s" (click)="clickCat(cat.kategoriaV2ID)">
                    {{ cat.nev }}
                  </span>
                  <!-- <span>
                    A "legfrissebb"-et majd kiszedem
                  </span> -->
                </div>
                <a *ngIf="article.bevezetoKepUrl==''; else withPic" routerLink="/cikk/{{ article.seoUrl }}">
                  <p>
                    {{ article.bevezeto }}
                  </p>
                </a>
                <div class="date">
                  <div class="clockIcon">
                    {{ article.megjelenesDatum | date : 'YYYY.MM.dd.' }}
                  </div>
                </div>
              </article>
            <ng-template #withPic>
              <a routerLink="/cikk/{{ article.seoUrl }}">
                <article class="withPic">
                  <div class="leftSide" style="background-image: url('{{ article.bevezetoKepUrl }}');">
                    <h5>
                      {{ article.cim }}
                    </h5>
                  </div>
                  <div class="rightSide">
                    <div class="labelsWrap">
                      <span *ngFor="let cat of article.kategoriaV2andSEOSiteKategoriaV2s" (click)="clickCat(cat.kategoriaV2ID)">
                        {{ cat.nev }}
                      </span>
                    </div>
                    <p>
                      {{ article.bevezeto }}
                    </p>
                    <div class="date">
                      <div class="clockIcon">
                        {{ article.megjelenesDatum | date : 'YYYY-MM-dd' }}
                      </div>
                    </div>
                  </div>
                </article>
              </a>
            </ng-template>
          </ng-container>
          <div class="buttonWrap">
            <button *ngIf="counter < articleList.length" class="hollow" (click)="clickMoreArticles()">
              További cikkek betöltése
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
