<div class="dialogBox">
  <div class="closerX" (click)="close()"></div>
  <div class="imgWrap">
    <img src="/assets/img/success.svg" alt="">
  </div>
  <h4>
    {{ data.textH4 }}
  </h4>
  <p [innerHTML]="data.textP"></p>
  <div class="buttWrap">
    <button *ngIf="data.closeAndLogin; else defaultButton" class="defaultBlue" (click)="closeAndLogin()">
      Vissza a belépéshez
    </button>
    <ng-template #defaultButton>
      <button class="defaultBlue" (click)="close()">
        {{ data.buttText }}
      </button>
    </ng-template>
  </div>
</div>
