footer{
  width: 100%;
  bottom: 0;
  text-align: center;
}
@import "../../../../varsAndMixins.scss";

footer{
  background-color: $dark;
  color: $slateLight;
  .contaInner{
    height: 129px;
    display: flex;
    align-items: center;
    .side{
      width: 50%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      &.rightSide{
        ul{
          margin-bottom: 0;
          li{
            text-align: left;
          }
        }
        a{
          margin: 0 7px;
        }
      }
    }
  }
}

@media(max-width: 767px){
  footer{
    .contaInner{
      padding: 30px 0;
      height: auto;
      display: block;
      .side{
        width: 100%;
      }
    }
  }
}

@media(max-width: 575px){
  footer{
    .contaInner{
      .side{
        display: block;
        width: 100%;
        &.rightSide{
          margin-top: 30px;
          > div{
            margin-top: 30px;
            li{
              text-align: center;
            }
          }
        }
      }
    }
  }
}
