<div class="articleWrap">
  <div class="container">
    <div class="backButtonWrap">
      <button class="backButton">
        Vissza
      </button>
    </div>
    <article>
      <h1>
        Térítési díj egészségügyi szolgáltatásra kötött megállapodásnál és érvénytelen TAJ szám esetén
      </h1>
      <div class="labelsWrap">
        <span>
          számviteli szabályzatok
        </span>
        <span>
          TB JÁRULÉK
        </span>
      </div>
      <div class="infosActions">
        <div class="leftSide">
          <span class="bold_700 delimSmallRight">
            Szentkirályi Baltazár
          </span>
          <span class="clockIcon">
            Legutóbb frissítve: 2018.01.21.
          </span>
        </div>
        <div class="rightSide">
          <img src="/assets/img/iconPrint.svg" alt="" />
          <img src="/assets/img/iconPlane.svg" alt="" />
          <img src="/assets/img/iconFacebook.svg" alt="" />
        </div>
      </div>
      <div class="lead">
        A munkáltatók jelentős része töri azon a fejét, hogy működési igényeihez igazodóan miként szervezze a munkaidőt, és ezzel szükségszerű összefüggésben hogyan ossza be az alkalmazottaik pihenőidejét. A közelmúlt híradásai ugyan a munkaerő-hiány problémájával vannak tele, de bizony előfordulhat, hogy a munkavállaló alól „fogy el a munka”, vagyis nincs szükség a foglalkoztatott teljes kapacitására.
      </div>
      <div class="text">
        <h4>
          Ha sok lenne a napi 8 óra (I.) - a részmunkaidő egy különös esete
        </h4>
        <p>
          A részmunkaidő egyik különös esete - ahogyan mondjuk, atipikus munkaviszony - a munkavégzés behívás alapján. A törvényszöveg szerint legfeljebb napi hat óra tartamú részmunkaidőben foglalkoztatott munkavállaló munkaszerződés alapján a munkakörébe tartozó feladatok esedékességéhez igazodva teljesíti munkavégzési kötelezettségét. A munkáltatónak a munkavégzés időpontját legalább három nappal előre közölnie kell a munkavállalóval [Mt. 193. §]
        </p>
        <div class="quote">
          <p>
            A munkaviszonyt - eltérő megállapodás hiányában - bármely munkáltató vagy a munkavállaló jognyilatkozata megszünteti.
          </p>
        </div>
        <p>
          Miután a munkáltatónak a munkavégzés időpontját legalább három nappal előre közölnie kell a munkavállalóval, így annak munkavégzési kötelessége a feladatok esedékességéhez igazodik. Mindez a munkáltató kétségtelen előnye. Az Mt. szerint minimum 3 nappal korábban a munkáltató közli a munkavégzés időpontját, bár a törvény erről nem rendelkezik, a feleknek célszerű a munkaszerződésben megállapodniuk a foglalkoztatással nem járó időszakban a kapcsolattartás módjáról.
        </p>
        <div class="offer">
          <div class="top">
            ÖNNEK AJÁNLJUK
          </div>
          <div class="bottom">
            <div class="leftSide">
              <h5>
                Sárga lámpa a társadalombiztosítási jogviszony ellenőrzésében
              </h5>
              <p>
                A sárga lámpa azoknál a személyeknél jelenik meg, akik egészségügyi szolgáltatásra azáltal lettek jogosultak, hogy arra vonatkozó megállapodást kötött
              </p>
            </div>
            <div class="rightSide">
              <img src="/assets/pic/flamings.png" alt="">
            </div>
          </div>
        </div>
        <h4>
          Ha sok lenne a napi 8 óra (I.) - a részmunkaidő egy különös esete
        </h4>
        <p>
          A részmunkaidő egyik különös esete - ahogyan mondjuk, atipikus munkaviszony - a munkavégzés behívás alapján. A törvényszöveg szerint legfeljebb napi hat óra tartamú részmunkaidőben foglalkoztatott munkavállaló munkaszerződés alapján a munkakörébe tartozó feladatok esedékességéhez igazodva teljesíti munkavégzési kötelezettségét. A munkáltatónak a munkavégzés időpontját legalább három nappal előre közölnie kell a munkavállalóval [Mt. 193. §] Miután a munkáltatónak a munkavégzés időpontját legalább három nappal előre közölnie kell a munkavállalóval, így annak munkavégzési kötelessége a feladatok esedékességéhez igazodik. Mindez a munkáltató kétségtelen előnye. Az Mt. szerint minimum 3 nappal korábban a munkáltató közli a munkavégzés időpontját, bár a törvény erről nem rendelkezik, a feleknek célszerű a munkaszerződésben megállapodniuk a foglalkoztatással nem járó időszakban a kapcsolattartás módjáról.
        </p>
      </div>
      <div class="related">
        <h5>
          Kapcsolódó fejezetek a tudástárban
        </h5>
        <div class="chaptersWrap">
          <div class="chapter">
            Településképi eljárás
          </div>
          <div class="chapter">
            Településképi eljárás Lorem ipsum dolor sit amet.
          </div>
        </div>
      </div>
      <div class="ctaWrap">
        <button class="orange">
          Érdekel az előfizetés
        </button>
      </div>
      <div class="related">
        <h5>
          Kapcsolódó jogszabályok
        </h5>
        <div class="chaptersWrap">
          <div class="chapter chapterJsz">
            5/2003. (II. 19.) ESzCsM rendelet
          </div>
          <div class="chapter chapterJsz">
            2017. évi CLIII. törvény az adóhatóság által foganatosítandó végrehajtási eljárásokról
          </div>
        </div>
      </div>
    </article>
  </div>
</div>
