<div class="articleWrap" *ngIf="article && szaki">
  <div class="container">
    <app-back></app-back>
    <div class="bigPicture" *ngIf="article.bevezetoKepUrl !== ''" style="background-image: url('{{ article.bevezetoKepUrl }}');">
      <div class="bottomStuff">
        <h1>
          {{ article.cim }}
        </h1>
        <!-- <div class="labelsWrap">
          <span>
            számviteli szabályzatok
          </span>
          <span>
            TB JÁRULÉK
          </span>
        </div> -->
      </div>
    </div>
    <article>
      <ng-container *ngIf="article.bevezetoKepUrl == ''">
        <h1>
          {{ article.cim }}
        </h1>
        <!-- <div class="labelsWrap">
          <span>
            számviteli szabályzatok
          </span>
          <span>
            TB JÁRULÉK
          </span>
        </div> -->
      </ng-container>
      <div class="infosActions">
        <div class="leftSide">
          <span class="bold_700 delimSmallRight">
            {{ szaki.nev }}
          </span>
          <span class="clockIcon">
            Legutóbb frissítve: {{ article.megjelenesDatum | date : 'YYYY.MM.dd.' }}
          </span>
        </div>
        <div class="rightSide">
          <img src="/assets/img/iconPrint.svg" alt="" />
          <img src="/assets/img/iconPlane.svg" alt="" />
          <img src="/assets/img/iconFacebook.svg" alt="" />
        </div>
      </div>
      <div class="infoAlert" *ngIf="article.kiegeszites">
        <img src="/assets/img/iconI.svg" alt="" />
        <p>
          Ezt a cikket frissítettük a legújabb információkkal!
        </p>
        <button class="smallBlue">
          Olvassa el itt!
        </button>
      </div>
      <div class="infoAlert" *ngIf="latogatovezerloCikk">
        <img src="/assets/img/iconI.svg" alt="" />
        <p>
          Ez a tartalom {{ daysOld }} napja jelent meg, lehetséges, hogy az itt szereplő információk már nem aktuálisak.
          Olvassa a témában megjelent legfrissebb cikkünket:
          <a routerLink="/cikk/{{ latogatovezerloCikk.seoUrl }}">
            {{ article.latogatovezerloUTM }}
          </a>
        </p>
      </div>
      <a (click)="redirToNew('kinek-jar-az-iparuzesi-ado-felezese')">popp</a>
      <div class="lead">
        {{ article.bevezeto }}
      </div>
      <div class="text" [innerHTML]="article.tartalom">
        <h4>
          Ha sok lenne a napi 8 óra (I.) - a részmunkaidő egy különös esete
        </h4>
        <p>
          A részmunkaidő egyik különös esete - ahogyan mondjuk, atipikus munkaviszony - a munkavégzés behívás alapján. A törvényszöveg szerint legfeljebb napi hat óra tartamú részmunkaidőben foglalkoztatott munkavállaló munkaszerződés alapján a munkakörébe tartozó feladatok esedékességéhez igazodva teljesíti munkavégzési kötelezettségét. A munkáltatónak a munkavégzés időpontját legalább három nappal előre közölnie kell a munkavállalóval [Mt. 193. §]
        </p>
        <div class="quote">
          <p>
            A munkaviszonyt - eltérő megállapodás hiányában - bármely munkáltató vagy a munkavállaló jognyilatkozata megszünteti.
          </p>
        </div>
        <p>
          Miután a munkáltatónak a munkavégzés időpontját legalább három nappal előre közölnie kell a munkavállalóval, így annak munkavégzési kötelessége a feladatok esedékességéhez igazodik. Mindez a munkáltató kétségtelen előnye. Az Mt. szerint minimum 3 nappal korábban a munkáltató közli a munkavégzés időpontját, bár a törvény erről nem rendelkezik, a feleknek célszerű a munkaszerződésben megállapodniuk a foglalkoztatással nem járó időszakban a kapcsolattartás módjáról.
        </p>
        <div class="offer">
          <div class="top">
            ÖNNEK AJÁNLJUK
          </div>
          <div class="bottom">
            <div class="leftSide">
              <h5>
                Sárga lámpa a társadalombiztosítási jogviszony ellenőrzésében
              </h5>
              <p>
                A sárga lámpa azoknál a személyeknél jelenik meg, akik egészségügyi szolgáltatásra azáltal lettek jogosultak, hogy arra vonatkozó megállapodást kötött
              </p>
            </div>
            <div class="rightSide">
              <img src="/assets/pic/flamings.png" alt="">
            </div>
          </div>
        </div>
        <h4>
          Ha sok lenne a napi 8 óra (I.) - a részmunkaidő egy különös esete
        </h4>
        <p>
          A részmunkaidő egyik különös esete - ahogyan mondjuk, atipikus munkaviszony - a munkavégzés behívás alapján. A törvényszöveg szerint legfeljebb napi hat óra tartamú részmunkaidőben foglalkoztatott munkavállaló munkaszerződés alapján a munkakörébe tartozó feladatok esedékességéhez igazodva teljesíti munkavégzési kötelezettségét. A munkáltatónak a munkavégzés időpontját legalább három nappal előre közölnie kell a munkavállalóval [Mt. 193. §] Miután a munkáltatónak a munkavégzés időpontját legalább három nappal előre közölnie kell a munkavállalóval, így annak munkavégzési kötelessége a feladatok esedékességéhez igazodik. Mindez a munkáltató kétségtelen előnye. Az Mt. szerint minimum 3 nappal korábban a munkáltató közli a munkavégzés időpontját, bár a törvény erről nem rendelkezik, a feleknek célszerű a munkaszerződésben megállapodniuk a foglalkoztatással nem járó időszakban a kapcsolattartás módjáról.
        </p>
      </div>
      <div class="freshContent" *ngIf="article.kiegeszites">
        <h5>
          FRISSÍTETT TARTALOM!
        </h5>
        <div [innerHTML]="article.kiegeszites">
          <h5>
            Ha sok lenne a napi 8 óra (I.) - a részmunkaidő egy különös esete
          </h5>
          <p>
            A részmunkaidő egyik különös esete – ahogyan mondjuk, atipikus munkaviszony – a munkavégzés behívás alapján. A törvényszöveg szerint legfeljebb napi hat óra tartamú részmunkaidőben foglalkoztatott munkavállaló munkaszerződés alapján a munkakörébe tartozó feladatok esedékességéhez igazodva teljesíti munkavégzési kötelezettségét. A munkáltatónak a munkavégzés időpontját legalább három nappal előre közölnie kell a munkavállalóval [Mt. 193. §]
          </p>
          <h5>
            Ha sok lenne a napi 8 óra (I.) - a részmunkaidő egy különös esete
          </h5>
          <p>
            A részmunkaidő egyik különös esete – ahogyan mondjuk, atipikus munkaviszony – a munkavégzés behívás alapján. A törvényszöveg szerint legfeljebb napi hat óra tartamú részmunkaidőben foglalkoztatott munkavállaló munkaszerződés alapján a munkakörébe tartozó feladatok esedékességéhez igazodva teljesíti munkavégzési kötelezettségét. A munkáltatónak a munkavégzés időpontját legalább három nappal előre közölnie kell a munkavállalóval [Mt. 193. §]
          </p>
        </div>
      </div>
      <div class="related">
        <h5>
          Kapcsolódó fejezetek a tudástárban
        </h5>
        <div class="chaptersWrap">
          <div class="chapter">
            Településképi eljárás
          </div>
          <div class="chapter">
            Településképi eljárás Lorem ipsum dolor sit amet.
          </div>
        </div>
      </div>
      <div class="ctaWrap">
        <button class="orange">
          Érdekel az előfizetés
        </button>
      </div>
      <div class="related">
        <h5>
          Kapcsolódó jogszabályok
        </h5>
        <div class="chaptersWrap">
          <div class="chapter chapterJsz" routerLink="/jogszabaly">
            5/2003. (II. 19.) ESzCsM rendelet
          </div>
          <div class="chapter chapterJsz" routerLink="/jogszabaly">
            2017. évi CLIII. törvény az adóhatóság által foganatosítandó végrehajtási eljárásokról
          </div>
        </div>
      </div>
    </article>
  </div>
</div>
