<div class="articleWrap">
  <div class="container">
    <div class="backButtonWrap">
      <button class="backButton">
        Vissza
      </button>
    </div>
    <article>
      <h1>
        Térítési díj egészségügyi szolgáltatásra kötött megállapodásnál és érvénytelen TAJ szám esetén
      </h1>
      <div class="labelsWrap">
        <span>
          számviteli szabályzatok
        </span>
        <span>
          TB JÁRULÉK
        </span>
      </div>
      <div class="infosActions">
        <div class="leftSide">
          <span class="bold_700 delimSmallRight">
            Szentkirályi Baltazár
          </span>
          <span class="clockIcon">
            Legutóbb frissítve: 2018.01.21.
          </span>
        </div>
        <div class="rightSide">
          <img src="/assets/img/iconPrint.svg" alt="" />
          <img src="/assets/img/iconPlane.svg" alt="" />
          <img src="/assets/img/iconFacebook.svg" alt="" />
        </div>
      </div>
    </article>
  </div>
</div>
