@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

@import "~bootstrap/dist/css/bootstrap.min.css";
@import "varsAndMixins.scss";

body{
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  background-color: #E5E5E5 !important;
  color: $dark;
  overflow-y: scroll;
  padding-top: 86px;
}
a, a:hover, a:visited{ color: inherit !important; text-decoration: none !important;}
h1, h2, h3, ul, p{ padding: 0; margin: 0; }
hr{ border: 0; height: 2px; border-radius: 2px; background-color: $blue; width: 100%; }
ul{ list-style: none; }
*, *:focus{outline: none !important;}

h1{
  font-size: 30px !important;
  font-weight: 800 !important;
}

h4{
  font-size: 22px !important;
  line-height: 30px !important;
}

h5{
  font-size: 18px !important;
  font-weight: 700 !important;
}

h6{
  font-size: 16px !important;
  font-weight: 700 !important;
}

.bold_700{
  font-weight: 700;
}

.orange{
  color: $orange;
}

button, button:focus{
  padding: 11px 35px;
  font-size: 16px;
  outline: none;
  &.defaultBlue{
    border: 0;
    background-color: $blue;
    color: white;
  }
  &.transparent{
    color: $dark;
    border: 1px solid $dark;
  }
  &.hollow{
    color: $dark;
    border: 1px solid $dark;
    background-color: transparent;
    padding: 10px 40px;
  }
  &.orange{
    border: 0;
    background-color: #FA6F3C;
    color: white;
  }
  &.backButton{
    border: 0;
    background-color: transparent;
    color: $dark2;
    padding-left: 0;
    padding-right: 0;
    &::before{
      transition: .2s linear;
      content: url("/assets/img/backArrow.svg");
      margin-right: 10px;
      position: relative;
      left: 0;
    }
    &:hover{
      &::before{
        left: -8px;
      }
    }
  }
  &.smallBlue{
    border: 1px solid $blueStandard;
    color: $blueStandard;
    padding: 2px 22px;
    background-color: transparent;
  }
}

.clockIcon{
  font-size: 14px;
  display: block;
  background-image: url("/assets/img/smallClock.svg");
  background-repeat: no-repeat;
  background-position: left center;
  padding-left: 20px;
}

.delimSmallRight{
  &::after{
    position: relative;
    content: url("/assets/img/delimSmall.svg");
    margin-left: 10px;
    top: 3px;
  }
}

.labelsWrap{
  margin-top: 17px;
  span{
    font-size: 12px;
    text-transform: uppercase;
    display: inline-block;
    background-color: $orange;
    color: white;
    padding: 3px 6px;
    margin-right: 10px;
    margin-bottom: 5px;
  }
}

.shadowedBoxWhite{
  background-color: white;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.13);
}

.myCheckbox{
  display: none;
  + label{
    padding-left: 30px;
    position: relative;
    user-select: none;
    cursor: pointer;
    &::before{
      content: "";
      transition: .2s linear;
      position: absolute;
      width: 16px;
      height: 16px;
      margin-top: -8px;
      left: 0;
      top: 50%;
      background-color: white;
      border: 1px solid $slateLight;
    }
  }
  &:checked{
    + label{
      &::before{
        background-color: $blue;
      }
    }
  }
}

.download{
  &::before{
    content: url("/assets/img/download.svg");
    margin-right: 8px;
  }
}

.arrorange{
  &::after{
    content: url("/assets/img/arrorange.svg");
    transition: .2s linear;
    margin-left: 5px;
    position: relative;
    right: 0;
  }
  &:hover{
    &::after{
      right: -8px;
    }
  }
}
