<nav>
  <div class="container">
    <div class="side leftSide">
      <a href="/">
        <img src="/assets/img/Light.svg" alt="">
      </a>
    </div>
    <div class="side rightSide">
      <ul class="defaultMenu">
        <li>
          <a href="">
            Tudástár
          </a>
        </li>
        <li>
          <a href="">
            Videotárrr
          </a>
        </li>
        <li>
          <a href="">
            Online képzéseink
          </a>
        </li>
        <li>
          <a href="">
            Bejelentkezve
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
