<div class="container">
  <app-back></app-back>
  <div class="videosWrap">
    <div class="row">
      <div *ngFor="let vid of videos" class="col-md-6">
        <section class="aVideo">
          <div class="video">
            <video [src]="vid.videoURL.replace('http://', 'https://')" controls="true" #vidi></video>
            <!-- <img src="/assets/pic/vidinyo.jpg" alt="" /> -->
          </div>
          <div class="details">
            <h6>
              {{ vid.cim }}
            </h6>
            <p class="author" *ngIf="vid.szakis">
              Előadó:
              {{ vid.szakis[0].nev }}
              {{ vid.szakis[0].szakterulet }}
            </p>
            <p class="duration">
              Lejátszási idő:
              {{ vidi | vidduration | async }}
              perc
            </p>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
