<div class="dialogBox">
  <div class="closerX" (click)="close()"></div>
  <h4>
    Jelentkező adatainak megadása
  </h4>
  <mat-dialog-content>
    <div class="formWrap">
      <form name="registrationForm" onsubmit="return false;">
        <div *ngIf="!data.itsme">
          <div class="formRow flex">
            <div class="formCol">
              <input id="chkForNew" type="checkbox" class="myCheckbox" [checked]="newColleague" (change)="newOrList()" />
              <label class="colored-background" for="chkForNew">
                Új munkatársat adok meg
              </label>
            </div>
            <div class="formCol">
              <input id="chkForFromList" type="checkbox" class="myCheckbox" [checked]="!newColleague" (change)="newOrList()" />
              <label class="colored-background" for="chkForFromList">
                Kiválasztom a listából
              </label>
            </div>
          </div>
          <div class="formRow">
            <div class="form-field-group">
              <mat-form-field appearance="fill">
                <mat-label>Korábban rögzített kollégák</mat-label>
                <mat-select [disabled]="newColleague" [(value)]="selectedColleague" (selectionChange)="selectColleaGue()">
                  <mat-option *ngFor="let diak of data.diakOthers; let index = index" [value]="index">
                    {{ diak.vezeteknev }} {{ diak.keresztnev }} [{{ diak.email }}]
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="formRow flex">
          <div class="formCol">
            <p>
              Előnév
            </p>
            <input type="text" name="elonev" [(ngModel)]="form.elonev"/>
          </div>
          <div class="formCol">
            <p>
              Vezetéknév
            </p>
            <input required #vezeteknev="ngModel" type="text" name="vezeteknev" [(ngModel)]="form.vezeteknev"/>
            <div class="validity" *ngIf="vezeteknev.touched && !vezeteknev.valid">
              Kötelező mező!
            </div>
          </div>
        </div>
        <div class="formRow">
          <p>
            Keresztnév
          </p>
          <input required #keresztnev="ngModel" type="text" name="keresztnev" [(ngModel)]="form.keresztnev"/>
          <div class="validity" *ngIf="keresztnev.touched && !keresztnev.valid">
            Kötelező mező!
          </div>
        </div>
        <div class="formRow">
          <p>
            Születési név
          </p>
          <input required #szuletesinev="ngModel" type="text" name="szuletesinev" [(ngModel)]="form.szuletesinev"/>
          <div class="validity" *ngIf="szuletesinev.touched && !szuletesinev.valid">
            Kötelező mező!
          </div>
        </div>
        <div class="formRow">
          <p>
            Anyja neve
          </p>
          <input required #anyjaneve="ngModel"  type="text" name="anyjaneve" [(ngModel)]="form.anyjaneve"/>
          <div class="validity" *ngIf="anyjaneve.touched && !anyjaneve.valid">
            Kötelező mező!
          </div>
        </div>
        <div class="formRow">
          <p>
            Állampolgárság
          </p>
          <input type="text" name="allampolgarsag" [(ngModel)]="form.allampolgarsag"/>
        </div>
        <!-- <div class="formRow">
          <input id="chkForeignBirth" type="checkbox" class="myCheckbox" />
          <label class="colored-background" for="chkForeignBirth">
            Külföldi születési hely
          </label>
        </div> -->
        <div class="formRow">
          <p>
            Születési hely
          </p>
          <input required #szulhely="ngModel" type="text" name="CountryOfBirth" [(ngModel)]="form.szulhely"/>
          <div class="validity" *ngIf="szulhely.touched && !szulhely.valid">
            Kötelező mező!
          </div>
        </div>
        <div class="formRow flex">
          <mat-form-field appearance="fill">
            <mat-label>Születési év</mat-label>
            <mat-select [(value)]="form.szulEv" (selectionChange)="reFillDays()">
              <mat-option *ngFor="let year of years" [value]="year">
                {{ year }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>hónap</mat-label>
            <mat-select [(value)]="form.szulHonap" (selectionChange)="reFillDays()">
              <mat-option *ngFor="let month of months; let index = index" [value]="index + 1">
                {{ month }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>nap</mat-label>
            <mat-select [(value)]="form.szulNap">
              <mat-option *ngFor="let day of days; let index = index" [value]="index + 1">
                {{ day }}.
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="formRow">
          <p>
            Adóazonosító jel
          </p>
          <input required #adoszam="ngModel" type="text" name="adoszam" [(ngModel)]="form.adoszam" class="halfWidth"/>
          <div class="validity" *ngIf="adoszam.touched && !adoszam.valid">
            Kötelező mező!
          </div>
        </div>
        <div class="formRow flex">
          <div class="formCol">
            <p>
              E-mail cím
            </p>
            <input required #email="ngModel" type="text" name="email" [(ngModel)]="form.email" placeholder="@"/>
            <div class="validity" *ngIf="email.touched && !email.valid">
              Kötelező mező!
            </div>
          </div>
          <div class="formCol">
            <p>
              Telefonszám
            </p>
            <input required #telefoN1="ngModel" type="text" name="telefoN1" [(ngModel)]="form.telefoN1"/>
            <div class="validity" *ngIf="telefoN1.touched && !telefoN1.valid">
              Kötelező mező!
            </div>
          </div>
        </div>
        <div class="formRow">
          <p>
            Legmagasabb iskolai végzettség
          </p>
          <input required #vegzettseg="ngModel" type="text" name="vegzettseg" [(ngModel)]="form.vegzettseg"/>
          <div class="validity" *ngIf="vegzettseg.touched && !vegzettseg.valid">
            Kötelező mező!
          </div>
        </div>
        <div class="buttWrap">
          <button class="orange" (click)="submit()" type="submit">
            Elküldöm a regisztrációt
          </button>
          <button class="hollow" (click)="close()">
            Mégse
          </button>
        </div>
      </form>
    </div>
  </mat-dialog-content>

</div>
