<div class="dialogBox">
  <div class="closerX" (click)="close()"></div>
  <h4>
    Jelentkező adatainak megadása
  </h4>
  <mat-dialog-content>
    <div class="formWrap">
      <form name="registrationForm">
        <div *ngIf="!data.itsme">
          <div class="formRow flex">
            <div class="formCol">
              <input id="chkForFromList" type="checkbox" class="myCheckbox" [checked]="!newColleague" (change)="newOrList()" />
              <label class="colored-background" for="chkForFromList">
                Kiválasztom a listából
              </label>
            </div>
            <div class="formCol">
              <input id="chkForNew" type="checkbox" class="myCheckbox" [checked]="newColleague" (change)="newOrList()" />
              <label class="colored-background" for="chkForNew">
                Új munkatársat adok meg
              </label>
            </div>
          </div>
          <div class="formRow">
            <div class="form-field-group">
              <mat-form-field appearance="fill">
                <mat-label>Korábban rögzített kollégák</mat-label>
                <mat-select [disabled]="newColleague" [(value)]="selectedColleague" (selectionChange)="selectColleaGue()">
                  <mat-option *ngFor="let diak of data.diakOthers; let index = index" [value]="index">
                    {{ diak.vezeteknev }} {{ diak.keresztnev }} [{{ diak.email }}]
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div class="formRow flex">
          <div class="formCol">
            <p>
              Előnév
            </p>
            <input type="text" name="elonev" [(ngModel)]="form.elonev"/>
          </div>
          <div class="formCol">
            <p>
              Vezetéknév
            </p>
            <input type="text" name="vezeteknev" [(ngModel)]="form.vezeteknev"/>
          </div>
        </div>
        <!-- <div class="formRow">
          <p>
            Előnév
          </p>
          <input type="text" name="elonev" [(ngModel)]="form.elonev"/>
        </div>
        <div class="formRow">
          <p>
            Vezetéknév
          </p>
          <input type="text" name="vezeteknev" [(ngModel)]="form.vezeteknev"/>
        </div> -->
        <div class="formRow">
          <p>
            Keresztnév
          </p>
          <input type="text" name="keresztnev" [(ngModel)]="form.keresztnev"/>
        </div>
        <div class="formRow">
          <p>
            Születési név
          </p>
          <input type="text" name="szuletesinev" [(ngModel)]="form.szuletesinev"/>
        </div>
        <div class="formRow">
          <p>
            Anyja neve
          </p>
          <input type="text" name="anyjaneve" [(ngModel)]="form.anyjaneve"/>
        </div>
        <div class="formRow">
          <p>
            Állampolgárság
          </p>
          <input type="text" name="allampolgarsag" [(ngModel)]="form.allampolgarsag"/>
        </div>
        <!-- <div class="formRow">
          <input id="chkForeignBirth" type="checkbox" class="myCheckbox" />
          <label class="colored-background" for="chkForeignBirth">
            Külföldi születési hely
          </label>
        </div> -->
        <div class="formRow">
          <p>
            Születési hely
          </p>
          <input type="text" name="CountryOfBirth" [(ngModel)]="form.szulhely"/>
        </div>
        <div class="formRow flex">
          <mat-form-field appearance="fill">
            <mat-label>Születési év</mat-label>
            <mat-select [(value)]="form.szulEv" (selectionChange)="reFillDays()">
              <mat-option *ngFor="let year of years" [value]="year">
                {{ year }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>hónap</mat-label>
            <mat-select [(value)]="form.szulHonap" (selectionChange)="reFillDays()">
              <mat-option *ngFor="let month of months; let index = index" [value]="index + 1">
                {{ month }}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>nap</mat-label>
            <mat-select [(value)]="form.szulNap">
              <mat-option *ngFor="let day of days; let index = index" [value]="index + 1">
                {{ day }}.
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="formRow">
          <p>
            Adóazonosító jel
          </p>
          <input type="text" name="adoszam" [(ngModel)]="form.adoszam" class="halfWidth"/>
        </div>
        <div class="formRow flex">
          <div class="formCol">
            <p>
              E-mail cím
            </p>
            <input type="text" name="email" [(ngModel)]="form.email" placeholder="@"/>
          </div>
          <div class="formCol">
            <p>
              Telefonszám
            </p>
            <input type="text" name="telefoN1" [(ngModel)]="form.telefoN1"/>
          </div>
        </div>
        <div class="formRow">
          <p>
            Legmagasabb iskolai végzettség
          </p>
          <input type="text" name="vegzettseg" [(ngModel)]="form.vegzettseg"/>
        </div>
       <!--  <div class="formRow">
          <div class="form-field-group">
            <mat-form-field appearance="fill">
              <mat-label>Legmagasabb iskolai végzettség</mat-label>
              <mat-select>
                <mat-option [value]="1">
                  01.
                </mat-option>
                <mat-option [value]="2">
                  02.
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div> -->
      </form>
    </div>
  </mat-dialog-content>
  <div class="buttWrap">
    <button class="orange" (click)="submit()">
      Elküldöm a regisztrációt
    </button>
    <button class="blueBorder" (click)="close()">
      Mégse
    </button>
  </div>
</div>
